apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ app_namespace }}
  labels:
    app: {{ app_name }}
spec:
  type: NodePort
  ports:
  - port: {{ app_port }}
    targetPort: {{ app_port }}
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: {{ app_name }}